.all-recipes-in-book {
  width: calc(100vw - 250px);
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.all-recipes-in-book header {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: calc(100vh - 120px);
  overflow: scroll;
}

.fa-star {
  color: #f5f513;
  font-size: 2em;
}
