.recipebook {
  width: calc(100vw - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../cooking.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.recipebook form {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipebook input {
  width: 250px;
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 4px 6px;
}

.recipebook button {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  background-color: #3bbeac;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.recipebook > div:first-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipebook > div:nth-child(2) {
  overflow: scroll;
  margin: 0 40px;
}

.recipe-book {
  width: 150px;
  height: 150px;
  background-color: #3bbeac;
  margin: 20px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  float: left;
}

.recipe-book i {
  display: none;
  font-size: 1.5em;
  margin: 0;
  color: red;
}

.recipe-book:hover {
  text-decoration: none;
}

.recipe-book:hover i {
  display: block;
}
