.container {
  position: relative;
  width: 80%;
  height: 100vh;
  float: right;
}

.container > div {
  position: absolute;
  width: 400px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.inner-container > div:nth-child(1) {
  background-color: lightblue;
}

.inner-container > div:nth-child(2) {
  background-color: lightgray;
  height: 100%;
}

.container form {
  display: flex;
}
