.new-recipe {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../kitchen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.new-recipe form {
  width: 40vw;
  height: 500px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.new-recipe form h1 {
  margin: 0 0 10px 0;
}

.new-recipe input {
  margin: 10px 0;
  width: 32vw;
  height: 30px;
  padding: 4px 6px;
  color: var(--green-color);
  border-radius: 5px;
}

.new-recipe input::placeholder {
  color: var(--green-color);
  font-size: 14px;
  font-weight: 600;
}

.new-recipe select {
  width: 32vw;
  height: 30px;
  margin: 10px 0px 20px 0px;
  color: var(--green-color);
  font-size: 14px;
  font-weight: 600;
}

.new-recipe button {
  width: 20vw;
  height: 30px;
  border: 5px;
  margin-top: 20px;
  background-color: var(--green-color);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.recipe-book-menu {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .new-recipe {
    width: 100%;
  }
  .new-recipe form {
    width: 80vw;
  }
  .new-recipe input,
  .new-recipe select,
  .new-recipe button {
    width: 60vw;
  }
}
