.recipe-details {
  width: 80%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-color);
}

.recipe-info-container {
  width: 450px;
  height: 450px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.recipe-info-container img {
  width: 450px;
  height: 275px;
}

.recipe-info {
  background-color: #ffffff;
  height: 225px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.recipe-info h4 {
  margin-left: 20px;
}

.recipe-info p {
  font-size: 1.8rem;
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  .recipe-details {
    width: 100%;
    height: auto;
  }
}
