.hero {
  height: 66vh;
  background: url("../../main-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.home h1 {
  margin: 0;
}

.footer {
  background-color: var(--grey-color);
  height: 22vh;
}

.footer > div {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer i {
  font-size: 3em;
  margin-bottom: 5px;
  color: var(--green-color);
}

.footer p {
  font-size: 2rem;
  font-weight: bold;
}

.box {
  padding: 20px;
  width: 575px;
  height: 280px;
  margin-left: 100px;
  display: flex;
  text-align: justify;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.box h1 {
  font-size: 3em;
}

.box p {
  margin-top: 25px;
  font-size: 2rem;
}

.box > div {
  width: 200px;
  padding: 10px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-color);
  font-size: 2rem;
  border-radius: 5px;
}

.box span {
  font-size: 1.3em;
}

.hero-link {
  color: #ffffff;
}

.hero-link:hover {
  text-decoration: none !important;
  color: var(--yellow-color);
}

@media screen and (max-width: 840px) {
  .hero {
    justify-content: center;
  }

  .box {
    margin: 20px;
    width: 300px;
    height: 240px;
  }

  .box h1 {
    font-size: 24px;
  }

  .box p {
    font-size: 14px;
  }

  .footer {
    height: auto;
  }

  .footer > div {
    display: block;
    padding: 40px 0;
  }

  .footer i {
    margin: 40px 0;
  }
}
