.navbar {
  width: 100vw;
  height: 12vh;
  background-color: rgb(8, 173, 44);
  font-size: 1.2em;
  margin: 0;
}

.navbar > nav {
  display: flex;
  justify-content: flex-end;
}

.link {
  color: #ffffff;
  text-decoration: none;
  margin: 20px;
}

.navbar button {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 80px;
  height: 25px;
  border-radius: 8px;
  color: rgb(8, 173, 44);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
