.navbar {
  width: 100vw;
  height: 70px;
  background-color: var(--green-color);
  font-size: 1.2em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar span {
  position: absolute;
  left: 2%;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.navbar button {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--green-color);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.navbar i {
  font-size: 1.3em;
}

.navbar button:hover {
  color: var(--yellow-color);
}

.link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
}

.link:hover {
  text-decoration: none !important;
  color: var(--yellow-color);
}

.logged-out-navlinks {
  position: absolute;
  right: 2%;
}

.logged-in-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0%;
}

.logged-in-navbar ul {
  margin: 0;
  padding: 0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.nav-buttons button {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .update-profile-link {
    display: none;
  }
}
