.new-recipebook {
  width: 80%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.new-recipebook form > div {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: red;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-recipebook input {
  margin: 10px 0
}
