.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-image: url("../../../recipe-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup form {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
}

.signup input {
  width: 280px;
  height: 25px;
  margin: 10px 0;
  padding: 4px 6px;
  font-size: 14px;
}

.signup button {
  width: 300px;
  height: 40px;
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: lightcoral;
  color: #ffffff;
  text-transform: uppercase;
}
