.search {
    width: calc(100vw - 250px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar {
    height: 15%;
    padding-top: 30px;
}
.search-bar form {
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 300px;
    height: 30px;
    padding: 4px 6px;
    font-size: 14px;
    margin-right: 10px;
}

.search-bar button {
    width: 70px;
    height: 30px;
    background-color: lightseagreen;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.recipes {
    height: 85%;
    height: calc(100vh - 60px);
    overflow: scroll;
}