.search {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../kitchen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar {
  margin: 0 auto;
}

.search h2 {
  color: var(--green-color);
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

.search-bar form {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 400px;
  height: 40px;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-bar button {
  position: absolute;
  right: 4px;
  top: 2px;
  width: 35px;
  height: 35px;
  background-color: var(--green-color);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.search-bar .fa-search {
  font-size: 1.4em;
}

.recipes {
  height: 85%;
  height: calc(100vh - 60px);
  overflow: scroll;
}

@media screen and (max-width: 1024px) {
  .search {
    width: 100%;
  }
}
