.user-profile {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--grey-color);
  padding: 20px;
  overflow: scroll;
}

/* Header Section */
.create-btn {
  margin: 10px 5px 0 0;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: var(--green-color);
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.create-btn:hover {
  text-decoration: none !important;
  color: var(--yellow-color);
}

.create-btn i {
  margin-right: 4px;
}

.greeting {
  font-size: 3.5em;
  text-transform: capitalize;
}

.user-profile header {
  margin: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-header i {
  font-size: 2.5em;
  color: var(--yellow-color);
}

.item {
  display: flex;
  height: 150px;
  width: 80%;
  margin: 10px auto;
  font-size: 1.6rem;
}

.item > div {
  border-radius: 5px;
}

.item > div:first-child {
  background-color: var(--green-color);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item > div:last-child {
  background-color: #ffffff;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item h3 {
  margin: 10px 0;
}

.item span {
  font-size: 20px;
  font-weight: bold;
}

/* Favorites Section */
.favorites-section {
  height: auto;
  width: 100%;
}

.favorites-section h2 {
  text-align: center;
}

.favorites-section > div:first-child {
  font-size: 20px;
  text-align: justify;
}

.favorites-section > div:first-child h2 {
  margin-bottom: 40px;
}

.favorites-section > div:first-child p {
  padding: 0 40px;
}

.favorites-section > div {
  height: 375px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: scroll;
}

.favorites-section > div:nth-child(2) h2 {
  margin-bottom: 40px;
}

.favorites img {
  width: 60px;
  height: 60px;
}

.favorites i {
  font-size: 3em;
  margin-top: 60px;
}

.link > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--green-color);
}

@media screen and (min-width: 768px) {
  .user-header {
    display: block;
    height: auto;
    width: 100%;
  }
  .user-header > div {
    display: flex;
    justify-content: space-evenly;
  }
  .item {
    margin: 20px;
  }
  .favorites-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .favorites-section > div {
    width: 100%;
    margin: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  .item {
    width: 92%;
  }
  .greeting {
    font-size: 3em;
  }
  .create-btn {
    padding: 10px;
  }
}
