.user-profile {
  width: calc(100vw - 250px);
}

.user-profile > div:first-child {
  margin: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

.user-header {
  height: 40%;
}

.user-info {
  height: 55%;
  display: flex;
  justify-content: space-evenly;
}

.user-info > div {
  width: 50%;
  margin: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

.favorites img {
  width: 40px;
  height: 40px;
}

.favorites > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  overflow: scroll;
}

